<nav class="navbar bg-dark border-bottom navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand">Web Lab 4</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
                <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
                <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
            </div>
        </div>

        <div class="d-flex flex-md-row-reverse text-light">
            {{username}}
        </div>
        <div class="d-flex flex-md-row-reverse m-lg-2">
            <button type="button" class="btn btn-outline-light" (click)="logout()">Logout</button>
        </div>
    </div>
</nav>
